	html {
		background:url(../images/background9.jpeg);
		-webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	  	background-size: cover;
	  	font-family: 'Helvetica Neue', sans-serif;
	}
	.prof-box {
		width: 450px;
		height:475px;
		background: rgba(0,0,0,0.4);
		padding: 40px;
		color: white;
		margin: 0 auto;
		margin-top: 100px;
		text-align: center;
	}

	.prof-pic {
		border-radius: 50%;
		height: 150px;
		width: 150px;
	}

	h1 {
		font-weight: 100;
		letter-spacing: 4;	
		font-size: 30px;	
	}
	
	h5 {	
		font-weight: 90;
		letter-spacing: 1;
	}

	p {
		font-weight: 90;
		letter-spacing: 1;
	}

	.social-icons {
		font-size: 40px;
	}

	.social-icons a {
		color: white;
	}

	.line-break {
		width: 300px;
		margin: 0 auto;
		border-top: 1px solid white  ;
	}


a.button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.4);;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

a.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

a.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

a.button:hover span {
  padding-right: 25px;
}

a.button:hover span:after {
  opacity: 1;
  right: 0;
}
